/*******************************
        Header & Footer
*******************************/
#printSection {
    display: none;
}


.site-header{
	margin-bottom: 50px;
	position: fixed;
	top:0px;
	z-index:999;
	width: 100%;
	height: 150px;
	transition: all 0.5s ease;
	background:$color-white;
	&.scroll{
		height:200px;
    	background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 73%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(42%, rgba(255,255,255,1)), color-stop(73%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 73%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 73%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 73%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 73%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    	transition:all 0.5s ease;
    	@include viewport(mobile){
    		height:110px !important;
    	}
	}
	@include viewport(tablet){
		height: 178px;
	}
	&.print{
		position:relative;
	}	
	.contactinfo{
		//display:none;
		background:#51B0BC;
		border-radius:0px 0px 8px 8px;
		padding:40px 20px 10px;
		position:absolute;
		top:0px;
		right:90px;
		color:$color-white !important;
		margin-top:-700px;
		transition:all 0.5s ease;
		@include viewport(mobile){
			margin-top:-1500px;
			border-radius:0px;
			width:100%;
			top:0;
			left:0;
			z-index: 999999;
			//transform:translate(-50%, 0px);
		}
		@include viewport(tablet){
			margin-top:-1500px;
			//transform:translate(-50%, 0px);
		}
		&.active{
			margin-top:0px;
			transition:all 0.5s ease;
		}
		.column1{
			font-family:$font__heading;
			font-size:24px;
			text-align:center;
			width:300px;
			border-right:1px solid $color-white;
			padding:0px 40px 20px;
			float:left;
			@include viewport(mobile){
				width:100%;
				padding:10px;
				font-size:16px;
				border-right:0px solid $color-white;
			}
			.call{
				margin-bottom:10px;
				a{
					color:$color-white;
				}
			}
			.visit{
				margin-top:50px;
				@include viewport(mobile){
					margin-top:10px;
				}
				span{
					font-size:16px;
					line-height:1.3 !important;
					display:block;
				}
			}
		}
		.column2{
			float:left;
			display:block;
			text-align:center;
			width:320px;
			padding:0px 40px 40px;
			@include viewport(tablet){
				width:100%;
				padding:10px;
				font-size:16px;
			}
			form{
				input{
					display:block;
					width:100% !important;
					margin-bottom:5px;
				}
				button{
					margin:10px auto;
					color:$color-white !important;
					border:1px solid $color-white;
					display:table;
					text-align:center;
					&:hover{
						color:$color-darkgray;
						span{
							color:$color-darkgray;
						}
					}
				}
			}
		}
		.column3{
			float:left;
			display:block;
			padding:20px;
		}
		.close{
			background:url(../images/icon-close2.svg) no-repeat;
			background-size: 100% 100%;
			width:15px;
			height:15px;
			position:absolute;
			bottom:20px;
			right:20px;
			cursor:pointer;
		}
	}
	
}

.contactinfo-mobile{
	visibility:hidden;
	background:#51B0BC;
	padding:20px;
	position:fixed;
	width:100%;
	height:100%;
	font-size:14px;
	top:100%;
	color:$color-white !important;
	margin-top:0px;
	transition:all 0.5s ease;
	z-index:99999;
	@include viewport(tablet){
		padding:20px 25% 20px;
	}
	@include viewport(mobile){
		padding:20px 5% 20px !important;
	}
	&.active{
		visibility:visible;
		transition:all 0.5s ease;
		top:0px;
	}
	.icon{
		width:20px;
		vertical-align: text-bottom;
		margin-right:10px;
	}
	.title{
		width:150px;
		margin:0 0 20px;
		display:block;
	}
	.call{
		padding:10px 0;
	}
	.email{
		margin-top:20px;
		padding:20px 0;
		border-top:1px solid $color-white;
		form{
			padding:10px 0;
			input{
				margin-bottom:5px;
			}
			button{
				margin:10px auto;
				color:$color-white !important;
				border:1px solid $color-white;
				display:table;
				text-align:center;
				&:hover{
					color:$color-darkgray;
					span{
						color:$color-darkgray;
					}
				}
			}
		}
	}
	a{
		color:$color-white;
	}
	.close{
		background:url(../images/icon-close2.svg) no-repeat;
		background-size: 100% 100%;
		width:30px;
		height:30px;
		position:absolute;
		top:30px;
		right:30px;
		cursor:pointer;
		z-index:999;
	}
}

.site-footer{
	background:#929396;
	font-size:10px;
	color:$color-white;
	padding:35px 40px; 
	@include viewport(mobile){
		padding:35px 0px; 
		font-size:14px;
	}
	a{
		color:$color-white;
	}
	p{
		font-size:10px;
	}
	.column1{
		width:35%;
		float:left;
		padding-right:50px;
		@include viewport(mobile){
			width:100%;
			padding-right:0px;
			margin-bottom:20px;
		}
		.workerassist{
			margin-right:20px;
			float:left;
			display:inline-block;
		}
		.info{
			display:inline-block;
		}
	}
	.column2{
		width:32%;
		float:left;
		padding-right:50px;
		@include viewport(mobile){
			width:100%;
			padding-right:0px;
			margin-bottom:20px;
		}
	}
	.column3{
		width:32%;
		float:left;
		@include viewport(mobile){
			width:100%;
			padding-right:0px;
			margin-bottom:20px;
		}
		a{
			margin-right:10px;
		}
	}
}


.maincontent{
	margin-top:155px;
	position:relative;
	z-index:1;
	padding:0px 0 40px;
	@include viewport(mobile){
		margin-top:85px !important;
	}
	@include viewport(tablet){
		margin-top:177px;
	}
}




/*******************************
        Main Menu
*******************************/

.menu {
  &.main{
	background:none !important;
	border:0px !important;
	box-shadow:none !important;
	border-radius:0;	
	float:left;
	margin-top:35px;
	margin-right:40px;
	.item{
		font-size:14px;
		color:$color-darkgray;
		text-transform: uppercase;
		&:before{
			width:0px;
		}
		&:hover{
			background:none;
		}
	}
  }
}

.contact-button{
	background:#51B0BC;
	border-radius:0px 0px 8px 8px;
	display:inline-block;
	padding:12px 20px;
	margin-top:-16px;
	cursor:pointer;
	@include viewport(tablet){
		display:none;
	}
}

.contact-button-mobile{
	cursor:pointer;
	background:#51B0BC url(../images/gethelpnow3.svg) no-repeat center;
	background-size: 80% 80%;
	width: 150px;
    height: 50px;
	padding:20px;
	border-radius:8px 8px 0px 0px;
	border:2px solid $color-white;
	bottom:-2px;
	left:50%;
	transform:translate(-50%, 0px);
	display:none;
	z-index:999;
	position:fixed;
	@include viewport(tablet){
		display:block;
	}
}

.logo{
	float:left;
	margin-right:50px;
	@include viewport(tablet){
		float:right;
		max-width:100%;
		height:100px;
		margin-right:0px;
		img{
			height:100%;
		}
	}
	@include viewport(mobile){
		max-width:100%;
		height:50px;
	}
}

.banner{
	position:relative;
	height:518px;
	@include viewport(mobile){
		height:200px;
	}
	.banner-title{
		position:relative;
		z-index:9999;
		img{
			position: relative;
			top: 50%;
			transform: perspective(1px) translateY(25%);
			@include viewport(mobile){
				max-width:25%;
			}
		}
		
	}
	.homepage-slider{
		position:absolute;
	}
	&.subpage{
		.banner-title{
			position:relative;
			img{
				position: relative;
				  top: 50%;
				  transform: perspective(1px) translateY(25%);
			}
		}
		.overlay{
			background-size:cover !important;
			width: 100%; 
			height: 518px;	
			position:absolute;
			top:0;
			@include viewport(tablet){
				height: 300px;
			}
			@include viewport(mobile){
				height: 200px;
			}
		}
	}
}



/*******************************
        What We do
*******************************/
#whatwedo{
	padding-top:40px !important;
	.services{
		background:url(../images/bg-gradient.jpg) no-repeat 100% 0;
		background-size:cover;
		min-height:300px;
		overflow:hidden;
		.container{
			padding:0 1em;
			@include viewport(tablet){
				padding:0 5em;
			}
			@include viewport(mobile){
				padding:0 1em !important;
			}
		}
		.item{
			width:30%;
			background:$color-white;
			min-height:700px;
			margin:0px 20px;
			display:block;
			float:left;
			-webkit-box-shadow: 0px 6px 87px -12px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 6px 87px -12px rgba(0,0,0,0.75);
			box-shadow: 0px 6px 87px -12px rgba(0,0,0,0.75);
			@include viewport(mobile){
				width:100%;
				margin:20px 0;
				box-shadow:none;
			}
			.image{
				position:relative;
				.whitebar{
					background:$color-white;
					position:absolute;
					bottom:15px;
					width:100%;
					height:10px;
				}
			}
			.text{
				padding:20px;
				.title{
					position: relative;
					height:60px;
					display:flex;
					align-items:center;
					.icon{
						display:inline-block;
						.arrow{
							margin-top:0px;
						}
					}
					.header-title{
						position: relative;
						h4{
							margin-bottom:0px;
							@include viewport(mobile){
								font-size:22px;
							}
							@include viewport(tablet){
								font-size:16px;
							}
						}
					}
				}
				p{
					clear:both;
					margin-top:20px;
				}
			}
			img{
				width:100%;
			}
			&:first-child{
				margin-left:0px;
			}
			&:last-child{
				margin-right:0px;
			}

		}
	}
}


/*******************************
        Contact
*******************************/
#contact{
	background:$color-lightgray;
	overflow:hidden;
	padding:40px 0;
	.column1{
		width:33%;
		float:left;
		@include viewport(mobile){
			width:100%;
			text-align:center;
		}

	}
	.column2{
		width:33%;
		float:left;
		text-align:center;
		@include viewport(mobile){
			width:100%;
		}
	}
	.column3{
		width:33%;
		float:left;
		text-align:center;
		padding:0 65px;
		@include viewport(mobile){
			width:100%;
			padding:0;
		}
	}
	.call{
		img{
			color:$color-blue;
		}
	}
	.visit{
		h4{
			margin-bottom:0px;
		}
	}
	.form{
		input{
			margin-bottom:10px;
		}
		.button{
			margin:10px auto;
			display:table;
		}
	}
}


/*******************************
        Case Studies
*******************************/
#casestudies{
	background:url(../images/bg-gradient.jpg) no-repeat 100% 0;
	background-size:cover;
	height:auto;
	overflow:hidden;
	.container{
		padding:0 1em !important;
		overflow:visible;
		@include viewport(mobile){
			padding:0 1em !important;
		}
		@include viewport(tablet){
			padding:0 5em;
		}
	}
	.item{
		width:30%;
		background:$color-white;
		position:relative;
		min-height:700px;
		margin:0px 20px;
		display:block;
		float:left;
		-webkit-box-shadow: 0px 6px 44px -12px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 6px 44px -12px rgba(0,0,0,0.75);
		box-shadow: 0px 6px 44px -12px rgba(0,0,0,0.75);
		@include viewport(mobile){
			margin:0 10px;
			box-shadow:none;
		}
		@include viewport(tablet){
			box-shadow:none;
		}
		.overlay{
			background:#e1f4fd;
			padding:40px 20px 20px 20px;
			position:absolute;
			width:100%;
			height:100%;
			top:100%;
			left:0;
			transition:all 0.5s ease;
			.whitebar{
				background:$color-white;
				position:absolute;
				top:15px;
				left:0px;
				width:100%;
				height:10px;
			}
			h5{
				span{
					color:$color-blue;
				}
			}
			&.active{
				top:0;
				transition:all 0.5s ease;
			}
		}
		.image{
			position:relative;
			.whitebar{
				background:$color-white;
				position:absolute;
				top:15px;
				width:100%;
				height:10px;
			}
		}
		.text{
			padding:20px 20px 40px;
			.title{
				position: relative;
				span{
					color:$color-blue;
				}
				.header-title{
					display:inline-block;
					width:265px;
					position: relative;
					  top: 50%;
					  -webkit-transform: translateY(-50%);
					  -ms-transform: translateY(-50%);
					  transform: translateY(-50%);
					h4{
						margin-bottom:0px;
					}
				}
			}
			p{
				clear:both;
				margin-top:20px;
			}
			.button{
				margin:0 auto;
				display:table;
			}
		}
		img{
			width:100%;
		}
		

	}
		
}

.casestudies-overlay{
	background:#e1f4fd;
	padding:40px 20px 20px 20px;
	position:fixed;
	width:100%;
	height:100%;
	top:100%;
	left:0;
	transition:all 0.5s ease;
	visibility:hidden;
	z-index: 9999999;
	color:$color-darkgray;
	overflow-y:auto;
	&.active{
		visibility:visible;
		top:0;
		transition:all 0.5s ease;
	}
	.whitebar{
		display:none;
	}
	.content{
		margin-top:40px;
	}

	.close{
		background:url(../images/icon-close3.svg) no-repeat;
		background-size: 100% 100%;
		width:30px;
		height:30px;
		position:absolute;
		top:30px;
		right:30px;
		cursor:pointer;
		z-index:99999999;
	}
}


/*******************************
        NEWS AND EVENTS
*******************************/
#newsevents{
	padding:40px 0;
	.item{
		margin-bottom:20px;
		display:flex;
		align-items:flex-start;
		.arrow{
			// float:left;
			// display:block;
			margin-top: 3px;
			margin-right:20px;
			@include viewport(tablet){
				margin-bottom: auto;
				margin-top:3px;
			}
		}	
		.news{
			// display:inline-block;
			// width:960px;
			width:90%;
			@include viewport(tablet){
				width:100%;
			}
			h5{
				margin-bottom:0px;
				text-transform:uppercase;
			}

		}
	}
	
}

/*******************************
        RESOURCES
*******************************/
.resources-list{
	.item{
		border-bottom:1px solid $color-blue;
		padding:20px 0;
		.entry-title{
			color:$color-blue;
			text-transform:uppercase;
		}
		&:last-child{
			border-bottom:0px;
		}
	}
}

.resources{
	margin-top:40px;
	display:flex;
	align-items:flex-start;
	@include viewport(tablet){
		display:block;
	}
	.left-column{
		width:70%;
		@include viewport(tablet){
			width:100%;
		}
	}
	.right-column{
		width:30%;
		margin-left:50px;
		@include viewport(tablet){
			width:100%;
			margin-left:0;
		}
	}
}

/*******************************
        NEWS & EVENTS
*******************************/
.news-list{
	.item{
		border-bottom:1px solid $color-blue;
		padding:20px 0;
		.entry-title{
			color:$color-blue;
			text-transform:uppercase;
		}
	}
}

#newsevents{
	.viewall{
		display:table;
		margin:0 auto;
	}
	p{
		margin-bottom:0px;
	}
}



.singlepage{
	margin-top:40px;
	display:flex;
	align-items:flex-start;
	@include viewport(tablet){
		display:block;
	}
	.left-column{
		width:70%;
		@include viewport(tablet){
			width:100%;
		}
	}
	.right-column{
		width:30%;
		margin-left:50px;
		@include viewport(tablet){
			width:100%;
			margin-left:0;
		}
	}
	.entry-title{
		text-transform:uppercase;
	}
}




/*******************************
        WIDGETS
*******************************/
.widget{
	margin-bottom:50px;
	.title{
		font-family:$font__main;
		font-weight:bold;
		font-size:18px;
		margin-bottom:10px;
		text-transform:uppercase;
	}
	ul{
		list-style:none;
		padding:0;
		margin:0;
		li{
			margin-bottom:10px;
			a{
				display:flex;
				align-items:flex-start;

				.arrow{
					width:20px !important;
					height:20px !important;
					margin-top:6px;
					margin-right:20px;
				}
				span{
					width:90%;
				}
			}
		}
	}
}



/*******************************
        SLIDER
*******************************/
.slick-prev, .slick-next{
	overflow:hidden;
	&:before{
		content:none;
	}
	&:hover{
		background:inherit;
	}
}

.slick-prev{
	background:url(../images/icon-slider-left.svg) no-repeat;
	background-size: 100% 100%;
	width:40px;
	height:40px;
	left:-50px;
	&:hover,&:focus,&:active,&:visited{
		background:url(../images/icon-slider-left.svg) no-repeat;
		background-size: 100% 100%;
		@include viewport(mobile){
			width: 15px;
		    height: 15px;
		    left: -12px;
		}
	}
	@include viewport(mobile){
		width: 15px;
	    height: 15px;
	    left: -12px;
	}
}

.slick-next{
	background:url(../images/icon-slider-right.svg) no-repeat;
	background-size: 100% 100%;
	width:40px;
	height:40px;
	right:-50px;
	&:hover,&:focus,&:active,&:visited{
		background:url(../images/icon-slider-right.svg) no-repeat;
		background-size: 100% 100%;
		@include viewport(mobile){
			width: 15px;
		    height: 15px;
		    right: -12px;
		}
	}
	@include viewport(mobile){
		width: 15px;
	    height: 15px;
	    right: -12px;
	}
}

.slick-dots li {
    margin:0px;
}


/*******************************
        GRAVITY FORM
*******************************/

.gform_wrapper{
	margin:0 !important;
	label{
		display:none !important;
	}
	input{
		padding:0px 20px !important;
		font-size:12px !important;
		background: #FFFFFF;
		border: 0px;
		color: rgba(0, 0, 0, 0.87);
		width:100% !important;
	}
	.validation_error{
		display:none;
	}
	.validation_message{
		color:$color-darkgray !important;
		font-size:11px !important;
	}
	.gfield_error{
		border:none !important;
		background:none !important;
		padding:0 !important;
		input{
			border:none !important;
		}
	}
	.gfield{
		padding-right:0 !important;
		margin-top:0px !important;
	}
	.gform_footer{
		padding:0 !important;
	}
	img.gform_ajax_spinner{
		display:none !important;
	}
	.gfield_description{
		padding-top:4px !important;
	}
	.gform_body{
		width:100% !important;
	}
}




/*******************************
        PRINT
*******************************/

#printSection {
    position:relative;
    font-family:'Open Sans', sans-serif;
    page-break-after: always;
    min-height:initial !important;
    h5{
	    font-family:"aleoregular", sans-serif;
	    text-transform:uppercase;
	    color:#64a8de;
	    text-align:center;
	    font-weight:400;
	}

	footer{
	    border-top:1px solid #64a8de;
	    padding:10px 0;
	    text-align:center;
	    font-size:14px;
	    position:relative;
	    width:100%;
	    height:auto;
	    h5{
	        color:#6d6e70;
	        margin-bottom:0px;
	        font-size:22px;
	    }
	}



	table{
	    width:100%;
	    td{
	        text-align:center;
	        vertical-align: top;
	    }
	}



	.content{
	    padding:40px 0;
	    .entry-title{
	        font-size:22px;
	    }
	}
    
}






