html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}

/* Images */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* Lists */

ul, ol {
	margin: 0 0 1.4em 25px;
	padding:0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}



/* Tables */

table {
	font-size: 18px;
	margin-bottom: 5%;
	padding: 0;
	width: 100%;
}

table thead {
	background: $color-lightgray;
	th {
		font-weight: bold;
		text-align: left;
	}
}

table td, #content table th {
	padding: 10px;
}

table td {
	border-bottom: solid 1px #eaf1f5;
}

table tr:last-child td {
	border-bottom: none;
}

table tr:nth-child(even) {
	background:$color-lightgray;
}


/*******************************
            Slider
*******************************/
.homepage-slider{
	width: 100%;
    height: 518px;
    position: relative;
    top:0px;
    @include viewport(tablet){
		height: 300px;
	}
	@include viewport(mobile){
		height: 200px;
	}
	.item{
		background-size:cover !important;
		width: 100%; 
		height: 518px;
		@include viewport(tablet){
			height: 300px;
		}
		@include viewport(mobile){
			height: 200px;
		}
	}
	.container{
		@include viewport(tablet){
			padding:0;
		}
	}
	.slick-dots{
		bottom:10px;
		li{
			&.slick-active{
				button{
					background:#64a8de;
				}	
			}
			button{
				width:10px;
				height:10px;
				background:#929396;
				border-radius:50px;
				overflow-y:hidden !important;
				&:before{
					content:none;
				}
			}
		}
	}
}



/*******************************
            Gallery
*******************************/

.feed-column{
	/* max-width:100%;
	margin:0 -15px; */
	display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
	.item{
		width: 100%;
	    min-height: 250px;
	    padding:1rem;
		// float:left;
		// margin-right:20px;
		// margin-bottom:20px;
		-webkit-transform: translate3d(0,0,0);
		@include viewport(desktop){
	        width: 20%;
    		min-height: 220px;
    		&:nth-child(5n+5){
    			margin-right:0;
    		}
	    }
	    @include viewport(laptop){
	        width: calc(22% - 8.33px);
			min-height: 300px;
	    }
	    @include viewport(mobile){
	        width:100% !important;
	        min-height:300px;
	    }
	}
	
	.item{

	    .entry-image{
			width: 100%;
			height: 100%;
			min-height:inherit;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			-moz-transition: all .2s ease-out;
			-ms-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			-webkit-transition: all .2s ease-out;
			transition: all .2s ease-out;
	    }
		img{
			max-width:100%;
		}
	}
}