
.arrow{
  background:url(../images/icon-arrow.svg) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}