


/*******************************
            Standard
*******************************/


/*--------------
      Menu
---------------*/

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0em;
  font-family: $font__heading;
  background: #FFFFFF;
  font-weight: normal;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  min-height: 2.85714286em;
}
.menu:after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.menu:first-child {
  margin-top: 0rem;
}
.menu:last-child {
  margin-bottom: 0rem;
}


/*******************************
            Menu
*******************************/

.menu-toggle{
  display:none;
  position:relative;
  float:left;
  z-index:9999;
  background:url(../images/icon-hamburger.svg) no-repeat;
  background-size: 100% 100%;
  width:40px;
  height:40px;
  margin-top:12px;
  cursor:pointer;
  @include viewport(tablet){
    display:block;
    margin-top:30px;
  }
  @include viewport(mobile){
    display:block;
    margin-top:12px !important;
  }
  a{
    font-size:48px;
  }
  &.close{
    background:url(../images/icon-close.svg) no-repeat;
    background-size: 100% 100%;
    width:40px;
    height:40px;
  }
}

.menu{
  float:right;
  z-index:2;
  @include viewport(tablet){
    display:none;
    border-top:5px solid $color-black;
    background:$color-white;
    width:100%;
    position:absolute;
    margin:0;
    top:0;
    left:0;
    margin:0;
    &.active{
      display:block;  
    }
    ul{
      list-style:none;
      margin-top:20px;
      li{
        display:block !important;
        clear:both !important;
        margin-bottom:20px !important;
      }
    }
  }
  ul{
    list-style-type: none;
    li {
        display: inline-block;
        font-weight: normal;
        margin: 0;
        padding: 0 10px;
        position: relative;
    }
    .sub-menu{
      display:none;
      position:absolute;
      &.active{
        display:block;
      }
    }
  }
}

.menu-mobile{
  position:fixed;
  width:100%;
  height:300px;
  z-index:9999999;
  margin-top:-800px;
  transition:all 0.5s ease;
  visibility:hidden;
  &.active{
    display:block;
    margin-top:-5px;
    transition:all 0.5s ease;
    visibility:visible;
  }
  .menu{
    display:block;
    position:relative;
    border-radius:0px !important;
    border:0px !important;
    .item{
      color:$color-white;
      text-transform:uppercase;
      border-radius:0px !important;
      margin-bottom:2px;
      padding:25px 20px;
      &#mobile-contact{
        background:#9ec54c;
      }
      &#mobile-whatwedo{
        background:#91bb72;
      }
      &#mobile-casestudies{
        background:#83b496;
      }
      &#mobile-news{
        background:#76afba;
      }
      &#mobile-resources{
        background:#64a8de;
      }
      &:last-child{
        margin-bottom:0px;
      }
    }
  }
  
}




/*--------------
    Sub-Menu
---------------*/

.menu .menu {
  margin: 0em;
}
.menu:not(.vertical) > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------
      Item
---------------*/

.menu:not(.vertical) .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  padding: 0.92857143em 1.14285714em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  -webkit-transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}
.menu > .item:first-child {
  border-radius: 0.28571429rem 0px 0px 0.28571429rem;
}

/* Border */
.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  height: 100%;
  width: 1px;
  background: rgba(34, 36, 38, 0.1);
}

/*--------------
  Text Content
---------------*/

.menu .text.item > *,
.menu .item > a:not(),
.menu .item > p:only-child {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  line-height: 1.3;
}
.menu .item > p:first-child {
  margin-top: 0;
}
.menu .item > p:last-child {
  margin-bottom: 0;
}

/*--------------
      Icons
---------------*/

.menu .item > i.icon {
  opacity: 0.9;
  float: none;
  margin: 0em 0.35714286em 0em 0em;
}

/*--------------
     Button
---------------*/

.menu:not(.vertical) .item > .button {
  position: relative;
  top: 0em;
  margin: -0.5em 0em;
  padding-bottom: 0.78571429em;
  padding-top: 0.78571429em;
  font-size: 1em;
}

/*----------------
 Grid / Container
-----------------*/

.menu > .grid,
.menu > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

/*--------------
     Inputs
---------------*/

.menu .item > .input {
  width: 100%;
}
.menu:not(.vertical) .item > .input {
  position: relative;
  top: 0em;
  margin: -0.5em 0em;
}
.menu .item > .input input {
  font-size: 1em;
  padding-top: 0.57142857em;
  padding-bottom: 0.57142857em;
}

/*--------------
     Header
---------------*/

.menu .header.item,
.vertical.menu .header.item {
  margin: 0em;
  background: '';
  text-transform: normal;
  font-weight: bold;
}
.vertical.menu .item > .header:not() {
  margin: 0em 0em 0.5em;
  font-size: 1em;
  font-weight: bold;
}

/*--------------
    Dropdowns
---------------*/


/* Dropdown Icon */
.menu .item > i.dropdown.icon {
  padding: 0em;
  float: right;
  margin: 0em 0em 0em 1em;
}

/* Menu */
.menu .dropdown.item .menu {
  left: 0px;
  min-width: calc(100% - 1px);
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
  background: #FFFFFF;
  margin: 0em 0px 0px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

/* Menu Items */
.menu .dropdown .menu > .item {
  margin: 0;
  text-align: left;
  font-size: 1em !important;
  padding: 0.78571429em 1.14285714em !important;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.87) !important;
  text-transform: none !important;
  font-weight: normal !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.menu .dropdown .menu > .item:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.95) !important;
}
.menu .dropdown .menu > .selected.item {
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.95) !important;
}
.menu .dropdown .menu > .active.item {
  background: rgba(0, 0, 0, 0.03) !important;
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.95) !important;
}
.menu .dropdown.item .menu .item:not(.filtered) {
  display: block;
}
.menu .dropdown .menu > .item .icon:not(.dropdown) {
  display: inline-block;
  font-size: 1em !important;
  float: none;
  margin: 0em 0.75em 0em 0em;
}

/* Secondary */
.secondary.menu .dropdown.item > .menu,
.text.menu .dropdown.item > .menu {
  border-radius: 0.28571429rem;
  margin-top: 0.35714286em;
}

/* Pointing */
.menu .pointing.dropdown.item .menu {
  margin-top: 0.75em;
}

/* Inverted */
.inverted.menu .search.dropdown.item > .search,
.inverted.menu .search.dropdown.item > .text {
  color: rgba(255, 255, 255, 0.9);
}

/* Vertical */
.vertical.menu .dropdown.item > .icon {
  float: right;
  content: "\f0da";
  margin-left: 1em;
}
.vertical.menu .dropdown.item .menu {
  left: 100%;
  min-width: 0;
  margin: 0em 0em 0em 0em;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0em 0.28571429rem 0.28571429rem 0.28571429rem;
}
.vertical.menu .dropdown.item.upward .menu {
  bottom: 0;
}
.vertical.menu .dropdown.item:not(.upward) .menu {
  top: 0;
}
.vertical.menu .active.dropdown.item {
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.vertical.menu .dropdown.active.item {
  box-shadow: none;
}

/* Evenly Divided */
.item.menu .dropdown .menu .item {
  width: 100%;
}

/*--------------
     Labels
---------------*/

.menu .item > .label {
  background: #999999;
  color: #FFFFFF;
  margin-left: 1em;
  padding: 0.3em 0.78571429em;
}
.vertical.menu .item > .label {
  background: #999999;
  color: #FFFFFF;
  margin-top: -0.15em;
  margin-bottom: -0.15em;
  padding: 0.3em 0.78571429em;
}
.menu .item > .floating.label {
  padding: 0.3em 0.78571429em;
}

/*--------------
     Images
---------------*/

.menu .item > img:not() {
  display: inline-block;
  vertical-align: middle;
  margin: -0.3em 0em;
  width: 2.5em;
}
.vertical.menu .item > img:not():only-child {
  display: block;
  max-width: 100%;
  width: auto;
}


/*******************************
          Coupling
*******************************/


/*--------------
     Sidebar
---------------*/


/* Show vertical dividers below last */
.vertical.sidebar.menu > .item:first-child:before {
  display: block !important;
}
.vertical.sidebar.menu > .item::before {
  top: auto;
  bottom: 0px;
}

/*--------------
    Container
---------------*/

@media only screen and (max-width: 767px) {
  .menu > .container {
    width: 100% !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}
@media only screen and (min-width: 768px) {
  .menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child {
    border-left: 1px solid rgba(34, 36, 38, 0.1);
  }
}


/*******************************
             States
*******************************/


/*--------------
      Hover
---------------*/

.link.menu .item:hover,
.menu .dropdown.item:hover,
.menu .link.item:hover,
.menu a.item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
     Pressed
---------------*/

.link.menu .item:active,
.menu .link.item:active,
.menu a.item:active {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
     Active
---------------*/

.menu .active.item {
  //background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  font-weight: normal;
  box-shadow: none;
}
.menu .active.item > i.icon {
  opacity: 1;
}

/*--------------
  Active Hover
---------------*/

.menu .active.item:hover,
.vertical.menu .active.item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
     Disabled
---------------*/

.menu .item.disabled,
.menu .item.disabled:hover {
  cursor: default;
  background-color: transparent !important;
  color: rgba(40, 40, 40, 0.3);
}


/*******************************
             Types
*******************************/


/*------------------
Floated Menu / Item
-------------------*/


/* Left Floated */
.menu:not(.vertical) .left.item,
.menu:not(.vertical) .left.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto !important;
}

/* Right Floated */
.menu:not(.vertical) .right.item,
.menu:not(.vertical) .right.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto !important;
}

/* Swapped Borders */
.menu .right.item::before,
.menu .right.menu > .item::before {
  right: auto;
  left: 0;
}

/*--------------
    Vertical
---------------*/

.vertical.menu {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/*--- Item ---*/

.vertical.menu .item {
  display: block;
  background: none;
  border-top: none;
  border-right: none;
}
.vertical.menu > .item:first-child {
  border-radius: 0.28571429rem 0.28571429rem 0px 0px;
}
.vertical.menu > .item:last-child {
  border-radius: 0px 0px 0.28571429rem 0.28571429rem;
}

/*--- Label ---*/

.vertical.menu .item > .label {
  float: right;
  text-align: center;
}

/*--- Icon ---*/

.vertical.menu .item > i.icon {
  width: 1.18em;
  float: right;
  margin: 0em 0em 0em 0.5em;
}
.vertical.menu .item > .label + i.icon {
  float: none;
  margin: 0em 0.5em 0em 0em;
}

/*--- Border ---*/

.vertical.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: rgba(34, 36, 38, 0.1);
}
.vertical.menu .item:first-child:before {
  display: none !important;
}

/*--- Sub Menu ---*/

.vertical.menu .item > .menu {
  margin: 0.5em -1.14285714em 0em;
}
.vertical.menu .menu .item {
  background: none;
  padding: 0.5em 1.33333333em;
  font-size: 0.85714286em;
  color: rgba(0, 0, 0, 0.5);
}
.vertical.menu .item .menu a.item:hover,
.vertical.menu .item .menu .link.item:hover {
  color: rgba(0, 0, 0, 0.85);
}
.vertical.menu .menu .item:before {
  display: none;
}

/* Vertical Active */
.vertical.menu .active.item {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0em;
  box-shadow: none;
}
.vertical.menu > .active.item:first-child {
  border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}
.vertical.menu > .active.item:last-child {
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}
.vertical.menu > .active.item:only-child {
  border-radius: 0.28571429rem;
}
.vertical.menu .active.item .menu .active.item {
  border-left: none;
}
.vertical.menu .item .menu .active.item {
  background-color: transparent;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
}

/*--------------
     Tabular
---------------*/

.tabular.menu {
  border-radius: 0em;
  box-shadow: none !important;
  border: none;
  background: none transparent;
  border-bottom: 1px solid #D4D4D5;
}
.tabular.fluid.menu {
  width: calc(100% +  2px ) !important;
}
.tabular.menu .item {
  background: transparent;
  border-bottom: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 2px solid transparent;
  padding: 0.92857143em 1.42857143em;
  color: rgba(0, 0, 0, 0.87);
}
.tabular.menu .item:before {
  display: none;
}

/* Hover */
.tabular.menu .item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

/* Active */
.tabular.menu .active.item {
  background: none #FFFFFF;
  color: rgba(0, 0, 0, 0.95);
  border-top-width: 1px;
  border-color: #D4D4D5;
  font-weight: bold;
  margin-bottom: -1px;
  box-shadow: none;
  border-radius: 0.28571429rem 0.28571429rem 0px 0px !important;
}

/* Coupling with segment for attachment */
.tabular.menu + .attached:not(.top).segment,
.tabular.menu + .attached:not(.top).segment + .attached:not(.top).segment {
  border-top: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  width: 100%;
}
.top.attached.segment + .bottom.tabular.menu {
  position: relative;
  width: calc(100% +  2px );
  left: -1px;
}

/* Bottom Vertical Tabular */
.bottom.tabular.menu {
  background: none transparent;
  border-radius: 0em;
  box-shadow: none !important;
  border-bottom: none;
  border-top: 1px solid #D4D4D5;
}
.bottom.tabular.menu .item {
  background: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: none;
}
.bottom.tabular.menu .active.item {
  background: none #FFFFFF;
  color: rgba(0, 0, 0, 0.95);
  border-color: #D4D4D5;
  margin: -1px 0px 0px 0px;
  border-radius: 0px 0px 0.28571429rem 0.28571429rem !important;
}

/* Vertical Tabular (Left) */
.vertical.tabular.menu {
  background: none transparent;
  border-radius: 0em;
  box-shadow: none !important;
  border-bottom: none;
  border-right: 1px solid #D4D4D5;
}
.vertical.tabular.menu .item {
  background: none;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: none;
}
.vertical.tabular.menu .active.item {
  background: none #FFFFFF;
  color: rgba(0, 0, 0, 0.95);
  border-color: #D4D4D5;
  margin: 0px -1px 0px 0px;
  border-radius: 0.28571429rem 0px 0px 0.28571429rem !important;
}

/* Vertical Right Tabular */
.vertical.right.tabular.menu {
  background: none transparent;
  border-radius: 0em;
  box-shadow: none !important;
  border-bottom: none;
  border-right: none;
  border-left: 1px solid #D4D4D5;
}
.vertical.right.tabular.menu .item {
  background: none;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-left: none;
}
.vertical.right.tabular.menu .active.item {
  background: none #FFFFFF;
  color: rgba(0, 0, 0, 0.95);
  border-color: #D4D4D5;
  margin: 0px 0px 0px -1px;
  border-radius: 0px 0.28571429rem 0.28571429rem 0px !important;
}

/* Dropdown */
.tabular.menu .active.dropdown.item {
  margin-bottom: 0px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: none;
}

/*--------------
   Pagination
---------------*/

.pagination.menu {
  margin: 0em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}
.pagination.menu .item:last-child {
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}
.compact.menu .item:last-child {
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}
.pagination.menu .item:last-child:before {
  display: none;
}
.pagination.menu .item {
  min-width: 3em;
  text-align: center;
}
.pagination.menu .icon.item i.icon {
  vertical-align: top;
}

/* Active */
.pagination.menu .active.item {
  border-top: none;
  padding-top: 0.92857143em;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  box-shadow: none;
}

/*--------------
   Secondary
---------------*/

.secondary.menu {
  background: none;
  margin-left: -0.35714286em;
  margin-right: -0.35714286em;
  border-radius: 0em;
  border: none;
  box-shadow: none;
}

/* Item */
.secondary.menu .item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  box-shadow: none;
  border: none;
  padding: 0.78571429em 0.92857143em;
  margin: 0em 0.35714286em;
  background: none;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  border-radius: 0.28571429rem;
}

/* No Divider */
.secondary.menu .item:before {
  display: none !important;
}

/* Header */
.secondary.menu .header.item {
  border-radius: 0em;
  border-right: none;
  background: none transparent;
}

/* Image */
.secondary.menu .item > img:not() {
  margin: 0em;
}

/* Hover */
.secondary.menu .dropdown.item:hover,
.secondary.menu .link.item:hover,
.secondary.menu a.item:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}

/* Active */
.secondary.menu .active.item {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  border-radius: 0.28571429rem;
}

/* Active Hover */
.secondary.menu .active.item:hover {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}

/* Inverted */
.secondary.inverted.menu .link.item,
.secondary.inverted.menu a.item {
  color: rgba(255, 255, 255, 0.7) !important;
}
.secondary.inverted.menu .dropdown.item:hover,
.secondary.inverted.menu .link.item:hover,
.secondary.inverted.menu a.item:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff !important;
}
.secondary.inverted.menu .active.item {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff !important;
}

/* Fix item margins */
.secondary.item.menu {
  margin-left: 0em;
  margin-right: 0em;
}
.secondary.item.menu .item:last-child {
  margin-right: 0em;
}
.secondary.attached.menu {
  box-shadow: none;
}

/* Sub Menu */
.vertical.secondary.menu .item:not(.dropdown) > .menu {
  margin: 0em -0.92857143em;
}
.vertical.secondary.menu .item:not(.dropdown) > .menu > .item {
  margin: 0em;
  padding: 0.5em 1.33333333em;
}

/*---------------------
   Secondary Vertical
-----------------------*/

.secondary.vertical.menu > .item {
  border: none;
  margin: 0em 0em 0.35714286em;
  border-radius: 0.28571429rem !important;
}
.secondary.vertical.menu > .header.item {
  border-radius: 0em;
}

/* Sub Menu */
.vertical.secondary.menu .item > .menu .item {
  background-color: transparent;
}

/* Inverted */
.secondary.inverted.menu {
  background-color: transparent;
}

/*---------------------
   Secondary Pointing
-----------------------*/

.secondary.pointing.menu {
  margin-left: 0em;
  margin-right: 0em;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}
.secondary.pointing.menu .item {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0em 0em -2px;
  padding: 0.85714286em 1.14285714em;
  border-bottom-width: 2px;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

/* Item Types */
.secondary.pointing.menu .header.item {
  color: rgba(0, 0, 0, 0.85) !important;
}
.secondary.pointing.menu .text.item {
  box-shadow: none !important;
}
.secondary.pointing.menu .item:after {
  display: none;
}

/* Hover */
.secondary.pointing.menu .dropdown.item:hover,
.secondary.pointing.menu .link.item:hover,
.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}

/* Pressed */
.secondary.pointing.menu .dropdown.item:active,
.secondary.pointing.menu .link.item:active,
.secondary.pointing.menu a.item:active {
  background-color: transparent;
  border-color: rgba(34, 36, 38, 0.15);
}

/* Active */
.secondary.pointing.menu .active.item {
  background-color: transparent;
  box-shadow: none;
  border-color: #1B1C1D;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
}

/* Active Hover */
.secondary.pointing.menu .active.item:hover {
  border-color: #1B1C1D;
  color: rgba(0, 0, 0, 0.95);
}

/* Active Dropdown */
.secondary.pointing.menu .active.dropdown.item {
  border-color: transparent;
}

/* Vertical Pointing */
.secondary.vertical.pointing.menu {
  border-bottom-width: 0px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(34, 36, 38, 0.15);
}
.secondary.vertical.pointing.menu .item {
  border-bottom: none;
  border-right-style: solid;
  border-right-color: transparent;
  border-radius: 0em !important;
  margin: 0em -2px 0em 0em;
  border-right-width: 2px;
}

/* Vertical Active */
.secondary.vertical.pointing.menu .active.item {
  border-color: #1B1C1D;
}

/* Inverted */
.secondary.inverted.pointing.menu {
  border-color: rgba(255, 255, 255, 0.1);
}
.secondary.inverted.pointing.menu {
  border-width: 2px;
  border-color: rgba(34, 36, 38, 0.15);
}
.secondary.inverted.pointing.menu .item {
  color: rgba(255, 255, 255, 0.9);
}
.secondary.inverted.pointing.menu .header.item {
  color: #FFFFFF !important;
}

/* Hover */
.secondary.inverted.pointing.menu .link.item:hover,
.secondary.inverted.pointing.menu a.item:hover {
  color: rgba(0, 0, 0, 0.95);
}

/* Active */
.secondary.inverted.pointing.menu .active.item {
  border-color: #FFFFFF;
  color: #ffffff;
}

/*--------------
    Text Menu
---------------*/

.text.menu {
  background: none transparent;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  margin: 1em -0.5em;
}
.text.menu .item {
  border-radius: 0px;
  box-shadow: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0em 0em;
  padding: 0.35714286em 0.5em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

/* Border */
.text.menu .item:before,
.text.menu .menu .item:before {
  display: none !important;
}

/* Header */
.text.menu .header.item {
  background-color: transparent;
  opacity: 1;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.92857143em;
  text-transform: uppercase;
  font-weight: bold;
}

/* Image */
.text.menu .item > img:not() {
  margin: 0em;
}

/*--- fluid text ---*/

.text.item.menu .item {
  margin: 0em;
}

/*--- vertical text ---*/

.vertical.text.menu {
  margin: 1em 0em;
}
.vertical.text.menu:first-child {
  margin-top: 0rem;
}
.vertical.text.menu:last-child {
  margin-bottom: 0rem;
}
.vertical.text.menu .item {
  margin: 0.57142857em 0em;
  padding-left: 0em;
  padding-right: 0em;
}
.vertical.text.menu .item > i.icon {
  float: none;
  margin: 0em 0.35714286em 0em 0em;
}
.vertical.text.menu .header.item {
  margin: 0.57142857em 0em 0.71428571em;
}

/* Vertical Sub Menu */
.vertical.text.menu .item:not(.dropdown) > .menu {
  margin: 0em;
}
.vertical.text.menu .item:not(.dropdown) > .menu > .item {
  margin: 0em;
  padding: 0.5em 0em;
}

/*--- hover ---*/

.text.menu .item:hover {
  opacity: 1;
  background-color: transparent;
}

/*--- active ---*/

.text.menu .active.item {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.95);
}

/*--- active hover ---*/

.text.menu .active.item:hover {
  background-color: transparent;
}

/* Disable Bariations */
.text.pointing.menu .active.item:after {
  box-shadow: none;
}
.text.attached.menu {
  box-shadow: none;
}

/* Inverted */
.inverted.text.menu,
.inverted.text.menu .item,
.inverted.text.menu .item:hover,
.inverted.text.menu .active.item {
  background-color: transparent !important;
}

/* Fluid */
.fluid.text.menu {
  margin-left: 0em;
  margin-right: 0em;
}

/*--------------
    Icon Only
---------------*/


/* Vertical Menu */
.vertical.icon.menu {
  display: inline-block;
  width: auto;
}

/* Item */
.icon.menu .item {
  height: auto;
  text-align: center;
  color: #1B1C1D;
}

/* Icon */
.icon.menu .item > .icon:not(.dropdown) {
  margin: 0;
  opacity: 1;
}

/* Icon Gylph */
.icon.menu .icon:before {
  opacity: 1;
}

/* (x) Item Icon */
.menu .icon.item > .icon {
  width: auto;
  margin: 0em auto;
}

/* Vertical Icon */
.vertical.icon.menu .item > .icon:not(.dropdown) {
  display: block;
  opacity: 1;
  margin: 0em auto;
  float: none;
}

/* Inverted */
.inverted.icon.menu .item {
  color: #FFFFFF;
}

/*--------------
   Labeled Icon
---------------*/


/* Menu */
.labeled.icon.menu {
  text-align: center;
}

/* Item */
.labeled.icon.menu .item {
  min-width: 6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Icon */
.labeled.icon.menu .item > .icon:not(.dropdown) {
  height: 1em;
  display: block;
  font-size: 1.71428571em !important;
  margin: 0em auto 0.5rem !important;
}

/* Fluid */
.fluid.labeled.icon.menu > .item {
  min-width: 0em;
}


/*******************************
           Variations
*******************************/


/*--------------
    Stackable
---------------*/

@media only screen and (max-width: 767px) {
  .stackable.menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stackable.menu .item {
    width: 100% !important;
  }
  .stackable.menu .item:before {
    position: absolute;
    content: '';
    top: auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgba(34, 36, 38, 0.1);
  }
  .stackable.menu .left.menu,
  .stackable.menu .left.item {
    margin-right: 0 !important;
  }
  .stackable.menu .right.menu,
  .stackable.menu .right.item {
    margin-left: 0 !important;
  }
}

/*--------------
     Colors
---------------*/


/*--- Standard Colors  ---*/

.menu .red.active.item,
.red.menu .active.item {
  border-color: #DB2828 !important;
  color: #DB2828 !important;
}
.menu .orange.active.item,
.orange.menu .active.item {
  border-color: #F2711C !important;
  color: #F2711C !important;
}
.menu .yellow.active.item,
.yellow.menu .active.item {
  border-color: #FBBD08 !important;
  color: #FBBD08 !important;
}
.menu .olive.active.item,
.olive.menu .active.item {
  border-color: #B5CC18 !important;
  color: #B5CC18 !important;
}
.menu .green.active.item,
.green.menu .active.item {
  border-color: #21BA45 !important;
  color: #21BA45 !important;
}
.menu .teal.active.item,
.teal.menu .active.item {
  border-color: #00B5AD !important;
  color: #00B5AD !important;
}
.menu .blue.active.item,
.blue.menu .active.item {
  border-color: #2185D0 !important;
  color: #2185D0 !important;
}
.menu .violet.active.item,
.violet.menu .active.item {
  border-color: #6435C9 !important;
  color: #6435C9 !important;
}
.menu .purple.active.item,
.purple.menu .active.item {
  border-color: #A333C8 !important;
  color: #A333C8 !important;
}
.menu .pink.active.item,
.pink.menu .active.item {
  border-color: #E03997 !important;
  color: #E03997 !important;
}
.menu .brown.active.item,
.brown.menu .active.item {
  border-color: #A5673F !important;
  color: #A5673F !important;
}
.menu .grey.active.item,
.grey.menu .active.item {
  border-color: #767676 !important;
  color: #767676 !important;
}

/*--------------
    Inverted
---------------*/

.inverted.menu {
  border: 0px solid transparent;
  background: #1B1C1D;
  box-shadow: none;
}

/* Menu Item */
.inverted.menu .item,
.inverted.menu .item > a:not() {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
}
.inverted.menu .item.menu {
  background: transparent;
}

/*--- Border ---*/

.inverted.menu .item:before {
  background: rgba(255, 255, 255, 0.08);
}
.vertical.inverted.menu .item:before {
  background: rgba(255, 255, 255, 0.08);
}

/* Sub Menu */
.vertical.inverted.menu .menu .item,
.vertical.inverted.menu .menu .item a:not() {
  color: rgba(255, 255, 255, 0.5);
}

/* Header */
.inverted.menu .header.item {
  margin: 0em;
  background: transparent;
  box-shadow: none;
}

/* Disabled */
.inverted.menu .item.disabled,
.inverted.menu .item.disabled:hover {
  color: rgba(225, 225, 225, 0.3);
}

/*--- Hover ---*/

.link.inverted.menu .item:hover,
.inverted.menu .dropdown.item:hover,
.inverted.menu .link.item:hover,
.inverted.menu a.item:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}
.vertical.inverted.menu .item .menu a.item:hover,
.vertical.inverted.menu .item .menu .link.item:hover {
  background: transparent;
  color: #ffffff;
}

/*--- Pressed ---*/

.inverted.menu a.item:active,
.inverted.menu .link.item:active {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

/*--- Active ---*/

.inverted.menu .active.item {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff !important;
}
.inverted.vertical.menu .item .menu .active.item {
  background: transparent;
  color: #FFFFFF;
}
.inverted.pointing.menu .active.item:after {
  background: #3D3E3F !important;
  margin: 0em !important;
  box-shadow: none !important;
  border: none !important;
}

/*--- Active Hover ---*/

.inverted.menu .active.item:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #FFFFFF !important;
}
.inverted.pointing.menu .active.item:hover:after {
  background: #3D3E3F !important;
}

/*--------------
     Floated
---------------*/

.floated.menu {
  float: left;
  margin: 0rem 0.5rem 0rem 0rem;
}
.floated.menu .item:last-child:before {
  display: none;
}
.right.floated.menu {
  float: right;
  margin: 0rem 0rem 0rem 0.5rem;
}

/*--------------
    Inverted
---------------*/


/* Red */
.inverted.menu .red.active.item,
.inverted.red.menu {
  background-color: #DB2828;
}
.inverted.red.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.red.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Orange */
.inverted.menu .orange.active.item,
.inverted.orange.menu {
  background-color: #F2711C;
}
.inverted.orange.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.orange.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Yellow */
.inverted.menu .yellow.active.item,
.inverted.yellow.menu {
  background-color: #FBBD08;
}
.inverted.yellow.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.yellow.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Olive */
.inverted.menu .olive.active.item,
.inverted.olive.menu {
  background-color: #B5CC18;
}
.inverted.olive.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.olive.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Green */
.inverted.menu .green.active.item,
.inverted.green.menu {
  background-color: #21BA45;
}
.inverted.green.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.green.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Teal */
.inverted.menu .teal.active.item,
.inverted.teal.menu {
  background-color: #00B5AD;
}
.inverted.teal.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.teal.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Blue */
.inverted.menu .blue.active.item,
.inverted.blue.menu {
  background-color: #2185D0;
}
.inverted.blue.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.blue.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Violet */
.inverted.menu .violet.active.item,
.inverted.violet.menu {
  background-color: #6435C9;
}
.inverted.violet.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.violet.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Purple */
.inverted.menu .purple.active.item,
.inverted.purple.menu {
  background-color: #A333C8;
}
.inverted.purple.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.purple.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Pink */
.inverted.menu .pink.active.item,
.inverted.pink.menu {
  background-color: #E03997;
}
.inverted.pink.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.pink.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Brown */
.inverted.menu .brown.active.item,
.inverted.brown.menu {
  background-color: #A5673F;
}
.inverted.brown.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.brown.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Grey */
.inverted.menu .grey.active.item,
.inverted.grey.menu {
  background-color: #767676;
}
.inverted.grey.menu .item:before {
  background-color: rgba(34, 36, 38, 0.1);
}
.inverted.grey.menu .active.item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/*--------------
     Fitted
---------------*/

.fitted.menu .item,
.fitted.menu .item .menu .item,
.menu .fitted.item {
  padding: 0em;
}
.horizontally.fitted.menu .item,
.horizontally.fitted.menu .item .menu .item,
.menu .horizontally.fitted.item {
  padding-top: 0.92857143em;
  padding-bottom: 0.92857143em;
}
.vertically.fitted.menu .item,
.vertically.fitted.menu .item .menu .item,
.menu .vertically.fitted.item {
  padding-left: 1.14285714em;
  padding-right: 1.14285714em;
}

/*--------------
   Borderless
---------------*/

.borderless.menu .item:before,
.borderless.menu .item .menu .item:before,
.menu .borderless.item:before {
  background: none !important;
}

/*-------------------
       Compact
--------------------*/

.compact.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0em;
  vertical-align: middle;
}
.compact.vertical.menu {
  display: inline-block;
}
.compact.menu .item:last-child {
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}
.compact.menu .item:last-child:before {
  display: none;
}
.compact.vertical.menu {
  width: auto !important;
}
.compact.vertical.menu .item:last-child::before {
  display: block;
}

/*-------------------
        Fluid
--------------------*/

.menu.fluid,
.vertical.menu.fluid {
  width: 100% !important;
}

/*-------------------
      Evenly Sized
--------------------*/

.item.menu,
.item.menu .item {
  width: 100%;
  padding-left: 0em !important;
  padding-right: 0em !important;
  margin-left: 0em !important;
  margin-right: 0em !important;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item.menu .item:last-child:before {
  display: none;
}
.menu.two.item .item {
  width: 50%;
}
.menu.three.item .item {
  width: 33.333%;
}
.menu.four.item .item {
  width: 25%;
}
.menu.five.item .item {
  width: 20%;
}
.menu.six.item .item {
  width: 16.666%;
}
.menu.seven.item .item {
  width: 14.285%;
}
.menu.eight.item .item {
  width: 12.500%;
}
.menu.nine.item .item {
  width: 11.11%;
}
.menu.ten.item .item {
  width: 10.0%;
}
.menu.eleven.item .item {
  width: 9.09%;
}
.menu.twelve.item .item {
  width: 8.333%;
}

/*--------------
     Fixed
---------------*/

.menu.fixed {
  position: fixed;
  z-index: 101;
  margin: 0em;
  width: 100%;
}
.menu.fixed,
.menu.fixed .item:first-child,
.menu.fixed .item:last-child {
  border-radius: 0px !important;
}
.fixed.menu,
[class*="top fixed"].menu {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
}
[class*="top fixed"].menu {
  border-top: none;
  border-left: none;
  border-right: none;
}
[class*="right fixed"].menu {
  border-top: none;
  border-bottom: none;
  border-right: none;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}
[class*="bottom fixed"].menu {
  border-bottom: none;
  border-left: none;
  border-right: none;
  bottom: 0px;
  left: 0px;
  top: auto;
  right: auto;
}
[class*="left fixed"].menu {
  border-top: none;
  border-bottom: none;
  border-left: none;
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}

/* Coupling with Grid */
.fixed.menu + .grid {
  padding-top: 2.75rem;
}

/*-------------------
       Pointing
--------------------*/

.pointing.menu .item:after {
  visibility: hidden;
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background: none;
  margin: 0.5px 0em 0em;
  width: 0.57142857em;
  height: 0.57142857em;
  border: none;
  border-bottom: 1px solid #D4D4D5;
  border-right: 1px solid #D4D4D5;
  z-index: 2;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.vertical.pointing.menu .item:after {
  position: absolute;
  top: 50%;
  right: 0%;
  bottom: auto;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
          transform: translateX(50%) translateY(-50%) rotate(45deg);
  margin: 0em -0.5px 0em 0em;
  border: none;
  border-top: 1px solid #D4D4D5;
  border-right: 1px solid #D4D4D5;
}

/* Active */
.pointing.menu .active.item:after {
  visibility: visible;
}
.pointing.menu .active.dropdown.item:after {
  visibility: hidden;
}

/* Don't double up pointers */
.pointing.menu .dropdown.active.item:after,
.pointing.menu .active.item .menu .active.item:after {
  display: none;
}

/* Colors */
.pointing.menu .active.item:hover:after {
  background-color: #F2F2F2;
}
.pointing.menu .active.item:after {
  background-color: #F2F2F2;
}
.pointing.menu .active.item:hover:after {
  background-color: #F2F2F2;
}
.vertical.pointing.menu .active.item:hover:after {
  background-color: #F2F2F2;
}
.vertical.pointing.menu .active.item:after {
  background-color: #F2F2F2;
}
.vertical.pointing.menu .menu .active.item:after {
  background-color: #FFFFFF;
}

/*--------------
    Attached
---------------*/


/* Middle */
.attached.menu {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em -1px;
  width: calc(100% +  2px );
  max-width: calc(100% +  2px );
  box-shadow: none;
}
.attached + .attached.menu:not(.top) {
  border-top: none;
}

/* Top */
[class*="top attached"].menu {
  bottom: 0px;
  margin-bottom: 0em;
  top: 0px;
  margin-top: 1rem;
  border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}
.menu[class*="top attached"]:first-child {
  margin-top: 0em;
}

/* Bottom */
[class*="bottom attached"].menu {
  bottom: 0px;
  margin-top: 0em;
  top: 0px;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), none;
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}
[class*="bottom attached"].menu:last-child {
  margin-bottom: 0em;
}

/* Attached Menu Item */
.top.attached.menu > .item:first-child {
  border-radius: 0.28571429rem 0em 0em 0em;
}
.bottom.attached.menu > .item:first-child {
  border-radius: 0em 0em 0em 0.28571429rem;
}

/* Tabular Attached */
.attached.menu:not(.tabular) {
  border: 1px solid #D4D4D5;
}
.attached.inverted.menu {
  border: none;
}
.attached.tabular.menu {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/*--------------
     Sizes
---------------*/


/* Mini */
.mini.menu {
  font-size: 0.78571429rem;
}
.mini.vertical.menu {
  width: 9rem;
}

/* Tiny */
.tiny.menu {
  font-size: 0.85714286rem;
}
.tiny.vertical.menu {
  width: 11rem;
}

/* Small */
.small.menu {
  font-size: 0.92857143rem;
}
.small.vertical.menu {
  width: 13rem;
}

/* Medium */
.menu {
  font-size: 1rem;
}
.vertical.menu {
  width: 15rem;
}

/* Large */
.large.menu {
  font-size: 1.07142857rem;
}
.large.vertical.menu {
  width: 18rem;
}

/* Huge */
.huge.menu {
  font-size: 1.14285714rem;
}
.huge.vertical.menu {
  width: 20rem;
}

/* Big */
.big.menu {
  font-size: 1.21428571rem;
}
.big.vertical.menu {
  width: 22rem;
}

/* Massive */
.massive.menu {
  font-size: 1.28571429rem;
}
.massive.vertical.menu {
  width: 25rem;
}

