// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


/* Styles for small text with uppercase font style. Used on dates and post meta */
@mixin sans-uppercase {
	color: $color-gray;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
}


/* Responsive media query mixins */
@mixin viewport($point) {
	// @if $point == desktop {
	// 	@media only screen and (min-width: 1440px)  { @content; }
	// }
	@if $point == laptop {
		@media only screen and ( max-width: 1440px )  { @content; }
	}
	@else if $point == tablet {
		@media only screen and ( max-width: 1279px )  { @content; }
	}
	@else if $point == mobile {
		@media only screen and ( max-width: 768px )  { @content; }
	}
}

