
/*******************************
            Container
*******************************/

body{
  &.mobile-active{
    overflow-y:hidden;
  }
  position:relative;
}

/* All Sizes */
.container {
  display: block;
  width:1280px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding:1em;
  position:relative;
  
  /* Laptop */
  @include viewport(laptop){
    max-width:100% !important;
    padding:1rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* Tablet */
  @include viewport(tablet){
    max-width:auto !important;
    padding:3rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* Mobile */
  @include viewport(mobile){
    max-width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding:1rem !important;
  }

  

}

/*******************************
          Site Header & Footer
*******************************/
.site-header{
  // background:$color-lightgray;
  margin-bottom:50px;
  height:150px;
  .container{
    //padding:30px 40px;
    @include viewport(mobile){
      padding:1rem !important;
    }
  }
  @include viewport(tablet){
    height:80px;
  }
  @include viewport(mobile){
    height:80px !important;
  }
}

.site-footer{
  .container{
    //border-top:1px solid $color-gray;
  }
}

.logo{
  float:left;
}


.content {
    overflow: hidden;
    position: relative;
    margin-bottom:10%;
}

$width: 100%;
$gutter: 4%;

.row {
  position: relative;
  width: 100%;
}

.row { 
  width: 100%;  
  margin-bottom: 1rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column, .columns {
  background:#000;
    float: left; 
    position: relative;
    padding:1rem;
    height:auto;
    @include viewport(tablet){
        width:100% !important;
    }
    @include viewport(mobile){
        width:100% !important;
    }
}

.column.one     { width: 4.3%;}
.column.two     { width: 13%; }
.column.three   { width: 21.679%; }
.column.four    { width: 30.37%; }
.column.five    { width: 39.1%; }
.column.six     { width:($width / 2);}
.column.seven   { width: 56.5%; }
.column.eight   { width: 65.2%; }
.column.nine    { width: 73.9%; }
.column.ten     { width: 82.6%; }
.column.eleven  { width: 91.3%; }
.column.twelve  { width: 100%; }


