$color-red:#C02942;
$color-black:#131313;
$color-white:#ffffff;
$color-teal:#2FBBAF;
$color-orange:#D15031;
$color-yellow:#FBB100;
$color-gray:#a2a1a1;
$color-lightgray:#F2F2F2;
$color-darkgray:#6d6e70;
$color-blue:#64a8de;

$color__background-body: $color-white;
$color__background-screen: $color-white;
$color__background-hr: $color-blue;
$color__background-button: $color-black;
$color__background-pre: $color-lightgray;
$color__background-ins: $color-gray;

$color__text-screen:$color-darkgray;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color-blue;
$color__link-visited: $color-blue;
$color__link-hover: $color-gray;
$color__text-main:$color-darkgray;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$size__site-main: 100%;
$size__site-sidebar: 25%;


$font__highlight: 'Open Sans', sans-serif;
$font__heading: 'aleoregular', sans-serif;
$font__main: 'Open Sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

