@font-face {
  font-family: 'aleoregular';
  src: url("../fonts/Aleo-Regular-webfont.eot");
  src: url("../fonts/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aleo-Regular-webfont.woff") format("woff"), url("../fonts/Aleo-Regular-webfont.ttf") format("truetype"), url("../fonts/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body * {
  visibility: hidden; }

html, body {
  height: 99%;
  page-break-after: avoid;
  page-break-before: avoid; }

#printSection, #printSection * {
  visibility: visible; }

#printSection {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  page-break-after: always;
  min-height: initial !important; }

.print {
  display: none;
  page-break-before: auto;
  page-break-after: auto; }

h5 {
  font-family: "aleoregular", sans-serif;
  text-transform: uppercase;
  color: #64a8de;
  text-align: center;
  font-weight: 400; }

footer {
  border-top: 1px solid #64a8de;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: auto; }
  footer h5 {
    color: #6d6e70;
    margin-bottom: 0px;
    font-size: 22px; }

table {
  width: 100%; }
  table td {
    text-align: center;
    vertical-align: top; }

.content {
  padding: 40px 0; }
  .content .entry-title {
    font-size: 22px; }
