@font-face {
  font-family: 'aleoregular';
  src: url("../fonts/Aleo-Regular-webfont.eot");
  src: url("../fonts/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aleo-Regular-webfont.woff") format("woff"), url("../fonts/Aleo-Regular-webfont.ttf") format("truetype"), url("../fonts/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body * {
  visibility: hidden; }

#printSection, #printSection * {
  visibility: visible; }

#printSection {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Open Sans', sans-serif; }

.print {
  display: none; }

h5 {
  font-family: "aleoregular", sans-serif;
  text-transform: uppercase;
  color: #64a8de;
  text-align: center;
  font-weight: 400; }

footer {
  border-top: 1px solid #64a8de;
  padding: 40px 0;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0px;
  width: 100%; }

table {
  width: 100%; }

table td {
  text-align: center;
  vertical-align: top; }

.content {
  padding: 40px 0; }
